* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  overflow: hidden;
}

[v-cloak] {
  display: none;
}

#app {
  padding: 0;
}

#app .container {
  padding: 15px;
}

#canvas {
  width: 100vw;
  height: 100vh;
}

.hidden {
  display: none;
}

.draggable {
  position: absolute;
}

#auction-box {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  border-radius: 5px;
  top: 250px;
  left: 250px;
  box-shadow: rgb(0 0 0) 10px 10px 15px;
}

#auction-box .header {
  background-color: rgb(26, 39, 80);
  color: #fff;
  border: 1px solid #000;
  padding: 5px;
  text-align: center;
  cursor: move;
}

#auction-box .content {
  padding: 15px;
}

#auction-box form {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  font-weight: bold;
}

/* *********************************** */
/* Trade Box */
#trade-box {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  border-radius: 5px;
  top: 450px;
  right: 50px;
  left: auto;
  width: 450px;
  height: 350px;
  box-shadow: rgb(0 0 0) 10px 10px 15px;
  resize: both;
  overflow: auto;
}

#trade-box .header {
  background-color: rgb(253, 207, 0);
  color: rgb(0, 0, 0);
  border: 1px solid #000;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 5px;
  text-align: center;
  cursor: move;
}

#trade-box .content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#trade-box .trade-select {
  height: 30px;
  border-radius: 5px;
}

#trade-box .accept-button {
  height: 30px;
  background-color: green;
  border-radius: 5px;
  font-weight: bold;
}

#trade-box .reject-button {
  height: 30px;
  background-color: red;
  border-radius: 5px;
  font-weight: bold;
}

#trade-box .square {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  background-color: #fff;
}

/* *********************************** */
/* Create Trade Box */
#create-trade-box {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  border-radius: 5px;
  top: 50px;
  right: 50px;
  width: 450px;
  height: 350px;
  box-shadow: rgb(0 0 0) 10px 10px 15px;
  resize: both;
  overflow: auto;
}

#create-trade-box .header {
  background-color: rgb(253, 207, 0);
  color: rgb(0, 0, 0);
  border: 1px solid #000;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 5px;
  text-align: center;
  cursor: move;
}

#create-trade-box .content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----------------------------------------- */

.flex-row {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  gap: 5px;
}

.wobble-horizontal {
  animation: wobble-horizontal 1s ease-in-out infinite;
}

@-webkit-keyframes wobble-horizontal {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

.img-small {
  width: 75px;
  height: auto;
}